<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>favorite</title>
    </head>
<body>
    <header>
        <div>
            <img src="/img/the_simpsons.png" alt="">
        </div>
        <div>
            <a href="/">favourte qute</a>
            <a href="/favorite-quotes">home</a>
        </div>
    </header>
    <main>
        <div clas="card2">
            <% dataArr.forEach(object => { %>
                <img src="<%= object.img %>" alt="">
                <p><%= object.name %></p>
                <p><%= object.qute %></p>
                <form action="/favorite-quotes/<%= object.id %>" method="POST">
                    <input type="submit" value="datails">
                </form>
            <% }) %>
        </div>
    </main>
</body>
</html>